.shop__products {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.shop-product__img {
	width: 195px;
	height: 280px;
}

.shop-product {
	height: 410px;
	width: 195px;
	background-color: white;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

	&__title {
		color: #3885ce;
		font-family: "Luxurious Roman ", cursive;
		font-size: 16px;
		font-weight: 500;
	}
	&__quantity {
		display: flex;
		margin: 5px;
		height: 1px;
		margin-left: 100px;
	}

	&__description {
		font-size: 10px;
		color: #333333;
		font-family: "Luxurious Roman ", cursive;
	}

	&__add-to-cart {
		font-family: "Luxurious Roman ", cursive;

		height: 40px;
		width: 90px;
		border-radius: 10px;
		color: white;
		background-color: #3885ce;
		font-weight: 600;
		font-size: 12px;

		display: grid;
		justify-items: center;
		align-items: center;

		transition: all 0.3s ease;

		&:hover {
			transform: scale(0.97);
		}

		&:active {
			transform: scale(0.95);
		}
	}
}
