html {
	font-size: 62.5%;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

@import "layout";
@import "header-navbar";
@import "./form-fields.scss";
@import "./page-title.scss";
//auth
@import "./auth/sign-in.scss";
@import "./auth/sign-up.scss";
@import "./auth/details.scss";
//account
@import "./account/purchase-history.scss";
@import "./account/accountInformation.scss";
@import "./account/account.scss";
//shop
@import "./shop/shop.scss";
@import "./shop/shop-search-bar.scss";
//quantity

@import "./quantity.scss";

// bluepricetag
@import "./blue-price-tag.scss";
